* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.navbar a {
  color: black;
  text-align: left;
  text-decoration: none;
  padding: 12px 16px;
}

.navbar a:hover {
  background-color: lightgray;
}

.navbar .plusIcon {
  font-size: 12px;
  color: #ad06ad;
}

.navbar .iconColor {
  color: #ad06ad;
}

.navbar .excelIcon {
  color: green;
}

#toggle {
  display: none;
}

.togglearea {
  background-color: #e7e7e7;
  border-bottom: 2px solid white;
  color: white;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.togglearea label {
  background-color: #e7e7e7;
  height: 35px;
  width: 40px;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #afadad;
}

.togglearea label span {
  background-color: #8f8d8d;
  height: 3px;
  width: 70%;
  margin: 2px 0px;
}

.togglearea {
  display: none;
}

.threedot {
  position: relative;
  top: 2px;
}

@media screen and (max-width: 760px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  #toggle:checked + .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .togglearea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Table styling for desktop and mobile */
table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background: white;
  color: black;
  font-weight: normal;
  border-bottom: 1px solid #e7e7e7;
  text-align: left;
}

table td {
  border-bottom: 1px solid #e7e7e7;
  text-align: left;
}

td:nth-child(3), td:nth-child(4) {
  color: grey;
}

td,
th {
  padding: 6px;
}

.content {
  margin: 10px;
  padding: 10px;
}

.title {
  padding-bottom: 15px;
  font-size: 32px;
}

@media screen and (max-width: 760px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    margin-bottom: 20px;
  }
  td {
    border: 1px solid #e7e7e7;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:first-child {
    background-color: #e7e7e7;
    text-align: right;
  }
  th:first-child {
    text-align: right;
  }
  td:nth-child(3), td:nth-child(4) {
    color: black;
  }
  /*
	Label the data
	*/
  td:nth-of-type(2):before {
    content: 'Name';
    font-weight: bold;
    font-style: italic;
  }
  td:nth-of-type(3):before {
    content: 'Modified';
    font-weight: bold;
    font-style: italic;
  }
  td:nth-of-type(4):before {
    content: 'Modified By';
    font-weight: bold;
    font-style: italic;
  }
  td:nth-of-type(1):before {
    content: 'File Type';
    font-weight: bold;
    font-style: italic;
    text-align: left;
  }
  td:last-child {
    display: none;
  }
}
/*# sourceMappingURL=home-page.css.map */