@import '../utilities/variables';
@import '../utilities/functions';
@import '../utilities/mixins';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
  background-color: $bgcolor;
  display: flex;
  justify-content: left;
    a {
        color: black;
        text-align: left;
        text-decoration: none;
        padding: 12px 16px;
    }
    a:hover {
        background-color: $hovercolor;
    }
}

#toggle {
  display: none;
}
.togglearea {
  background-color: $bgcolor;
  border-bottom: 2px solid white;
  color: white;
  padding: 4px;
  display: flex;
  justify-content: flex-end;
    label {
        background-color: $bgcolor;
        height: 35px;
        width: 40px;
        color: black;
        border-radius: 6px;
        cursor: pointer;
        @include flexCenter(column);
        border: 1px solid rgb(175, 173, 173);
        span {
            background-color: rgb(143, 141, 141);
            height: 3px;
            width: 70%;
            margin: 2px 0px;
        }
    }
} 

.togglearea {
  display: none;
}

.threedot {
  position: relative;
  top: 2px;
}



@media screen and (max-width: 760px) {
  .navbar {
    flex-direction: column;
    display: none;
  }
  #toggle:checked + .navbar {
    display: flex;
  }
  .togglearea {
    display: flex;
  }

  
}
